# Folders
dist/
build/
public/
__pycache__/
node_modules/

# File managers
.DS_Store
.directory
desktop.ini

# Logs
logs
*.log
.thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Office temporal files
~$*

# Python files without UI
*.pyw

# ico file is big
*.ico

# VS Code
.vscode/launch.json
